<div class="w-full h-screen flex justify-center items-center">
    <div class="h-auto text-center">
        <h1 class="font-bold">Bun + Express + Prisma + Lucia Auth</h1>
        <div class="flex justify-center">
            <img src="icon-300x300.png" alt="Bun + Express + Prisma + Lucia Auth"/>
        </div>
        <h2>Hi, <strong><%- user.name %></strong>!</h2>
        <p>Your user ID is "<%- user.id %>".</p>
        <form method="post" class="mt-4">
            <button class="py-2 px-6 bg-blue-400 hover:bg-blue-500 transition-all rounded-md text-white">Sign out</button>
        </form>
        <p>Copyright <%= new Date().getFullYear() %>. <a href="https://x.com/goon_nguyen">@goon_nguyen</a></p>
    </div>
</div>
