    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= locals.title || 'Home' %></title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="css/style.css">

    <!-- TAILWIND CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        corePlugins: {
          preflight: false,
        }
      }
    </script>
