<div class="w-full h-full flex justify-center item-center">
    <div class="h-auto text-center">
        <h1>Bun + Express + Prisma + Lucia Auth</h1>
        <div>
            <img src="icon-300x300.png" alt="Bun + Express + Prisma + Lucia Auth"/>
        </div>
        <h2>Hi, <%- user.name %>!</h2>
        <p>Your user ID is "<%- user.id %>".</p>
        <form method="post">
            <button>Sign out</button>
        </form>
        <p>Copyright 2024. <a href="https://x.com/goon_nguyen">@goon_nguyen</a></p>
    </div>
</div>
